// class SquareGame
// constructor SquareGame SquareGame.new
function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0 // this
return
// method void SquareGame.dispose
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0 // void
push pointer 0 // this
call Memory.deAlloc 1
pop temp 0 // void
push constant 0
return
// method void SquareGame.moveSquare
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SQUAREGAME.MOVESQUARE.IF6_ELSE
push this 0
call Square.moveUp 1
pop temp 0 // void
goto SQUAREGAME.MOVESQUARE.IF6_END
label SQUAREGAME.MOVESQUARE.IF6_ELSE
label SQUAREGAME.MOVESQUARE.IF6_END
push this 1
push constant 2
eq
not
if-goto SQUAREGAME.MOVESQUARE.IF7_ELSE
push this 0
call Square.moveDown 1
pop temp 0 // void
goto SQUAREGAME.MOVESQUARE.IF7_END
label SQUAREGAME.MOVESQUARE.IF7_ELSE
label SQUAREGAME.MOVESQUARE.IF7_END
push this 1
push constant 3
eq
not
if-goto SQUAREGAME.MOVESQUARE.IF8_ELSE
push this 0
call Square.moveLeft 1
pop temp 0 // void
goto SQUAREGAME.MOVESQUARE.IF8_END
label SQUAREGAME.MOVESQUARE.IF8_ELSE
label SQUAREGAME.MOVESQUARE.IF8_END
push this 1
push constant 4
eq
not
if-goto SQUAREGAME.MOVESQUARE.IF9_ELSE
push this 0
call Square.moveRight 1
pop temp 0 // void
goto SQUAREGAME.MOVESQUARE.IF9_END
label SQUAREGAME.MOVESQUARE.IF9_ELSE
label SQUAREGAME.MOVESQUARE.IF9_END
push constant 5
call Sys.wait 1
pop temp 0 // void
push constant 0
return
// method void SquareGame.run
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0 // false
pop local 1
label SQUAREGAME.RUN.WHILE0_LOOP
push local 1
not
not
if-goto SQUAREGAME.RUN.WHILE0_END
label SQUAREGAME.RUN.WHILE1_LOOP
push local 0
push constant 0
eq
not
if-goto SQUAREGAME.RUN.WHILE1_END
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0 // void
goto SQUAREGAME.RUN.WHILE1_LOOP
label SQUAREGAME.RUN.WHILE1_END
push local 0
push constant 81
eq
not
if-goto SQUAREGAME.RUN.IF10_ELSE
push constant 0 // true
not
pop local 1
goto SQUAREGAME.RUN.IF10_END
label SQUAREGAME.RUN.IF10_ELSE
label SQUAREGAME.RUN.IF10_END
push local 0
push constant 90
eq
not
if-goto SQUAREGAME.RUN.IF11_ELSE
push this 0
call Square.decSize 1
pop temp 0 // void
goto SQUAREGAME.RUN.IF11_END
label SQUAREGAME.RUN.IF11_ELSE
label SQUAREGAME.RUN.IF11_END
push local 0
push constant 88
eq
not
if-goto SQUAREGAME.RUN.IF12_ELSE
push this 0
call Square.incSize 1
pop temp 0 // void
goto SQUAREGAME.RUN.IF12_END
label SQUAREGAME.RUN.IF12_ELSE
label SQUAREGAME.RUN.IF12_END
push local 0
push constant 131
eq
not
if-goto SQUAREGAME.RUN.IF13_ELSE
push constant 1
pop this 1
goto SQUAREGAME.RUN.IF13_END
label SQUAREGAME.RUN.IF13_ELSE
label SQUAREGAME.RUN.IF13_END
push local 0
push constant 133
eq
not
if-goto SQUAREGAME.RUN.IF14_ELSE
push constant 2
pop this 1
goto SQUAREGAME.RUN.IF14_END
label SQUAREGAME.RUN.IF14_ELSE
label SQUAREGAME.RUN.IF14_END
push local 0
push constant 130
eq
not
if-goto SQUAREGAME.RUN.IF15_ELSE
push constant 3
pop this 1
goto SQUAREGAME.RUN.IF15_END
label SQUAREGAME.RUN.IF15_ELSE
label SQUAREGAME.RUN.IF15_END
push local 0
push constant 132
eq
not
if-goto SQUAREGAME.RUN.IF16_ELSE
push constant 4
pop this 1
goto SQUAREGAME.RUN.IF16_END
label SQUAREGAME.RUN.IF16_ELSE
label SQUAREGAME.RUN.IF16_END
label SQUAREGAME.RUN.WHILE2_LOOP
push local 0
push constant 0
eq
not
not
if-goto SQUAREGAME.RUN.WHILE2_END
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0 // void
goto SQUAREGAME.RUN.WHILE2_LOOP
label SQUAREGAME.RUN.WHILE2_END
goto SQUAREGAME.RUN.WHILE0_LOOP
label SQUAREGAME.RUN.WHILE0_END
push constant 0
return
